@import '../breakpoints.scss';

.faq {
  display: flex;
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 75px;
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    background-color: #ADD8CD;
    padding-top: min(30vw, 150px);
    padding-bottom: 30px;
  }

  @media (min-width: 1600px) {
    max-width: 1500px;
  }

  .cup {
    width: 37%;
    align-self: flex-start;
    margin-left: -30px;
    margin-top: 65px;

    @media (max-width: $mobile-breakpoint) {
      position: absolute;
      margin: 0;
      width: 50%;
      max-width: 240px;
      top: 0;
      left: 50%;
      transform: translate(-67%, -50%);
    }
  }

  .content {
    flex: 1;
    margin-right: 10%;
    font-size: 0.85em;
    color: white;

    @media (min-width: 1600px) {
      margin-left: 4%;
    }

    @media (max-width: 1200px) {
      margin-right: 5%;
    }

    @media (max-width: 900px) {
      font-size: .8em;
    }

    @media (max-width: $mobile-breakpoint) {
      color: black;
      margin: 0 7%;
    }

    @media (max-width: 500px) {
      font-size: .75em;
    }

    h1 {
      font-size: 2.1875em;
      font-weight: 600;
      color: #ADD8CD;
      margin-bottom: 45px;

      @media (max-width: $mobile-breakpoint) {
        color: inherit;
        text-align: center;
        margin-bottom: 35px;

        .notMobile {
          display: none;
        }
      }
    }

    h4 {
      font-size: 1.25em;
      font-weight: 600;
      color: #ADD8CD;
      margin-bottom: 0;
      margin-top: 35px;

      @media (max-width: $mobile-breakpoint) {
        color: #3C519C;
      }
    }

    p {
      font-size: 1.125em;
      line-height: 1.5em;
      margin-top: 5px;

      a {
        color: inherit;

        &.noUnderline {
          text-decoration: none;
        }
      }

      ul {
        margin-top: 2px;
        li {
          margin-top: 2px;
        }
      }

      b {
        font-weight: 600;
      }
    }
  }
}
