.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .stars {
    width: 100%;
    height: 150%;
    background-position: center top;
    background-size: calc(1750px + 10vw);
    transform: translateY(-250px);
    background-repeat: no-repeat;
  }

  .leftTrees {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;

    @media (max-width: 1300px) {
      width: 1300px;
    }
  }

  .rightTrees {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
  }

  .frontTree {
    position: absolute;
    bottom: -250px;
    right: -50px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: right;
    z-index: 5;
  }
}