@import 'common.scss';

.container {
  flex: 1;
  position: relative;
  background-size: auto 108%;
  background-position: center top;
  background-repeat: no-repeat;


  @media (min-height: 900px) {
    flex: none;
    height: 750px;
  }

  @media (max-width: 1150px) {
    background-position: 58.3% top;
  }

  @include registration-floating-screen {
    min-height: max(min(calc(100vh - 100px), 750px), 620px);
    max-height: min(70%, 750px);
    margin-top: 25px;
  }

  .form {
    position: absolute;
    z-index: 2;
    height: 70%;
    width: calc(100vh - 120px);
    min-width: calc(650px - 120px); // 650px is min-height of registration page
    max-width: 780px;
    top: min(max(75px, 50vh - 350px), 100px);
    left: 50%;
    transform: translateX(-40%);
    
    @media (max-width: 1150px) {
      transform: translateX(-50%);
      left: 53%;
    }
    @include registration-floating-screen {
      min-width: 0;
      width: 90%;
      left: 50%;
    }

    .screenContainer {
      height: 100%;
      display: none;
      flex-direction: column;

      &.visible {
        display: flex;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        z-index: 5;

        .spacer {
          width: 10px;
        }
      }
    }
  }
}