.eventDisplay {
  background: #08151B;
  border: 9px solid #C76931;

  position: absolute;
  height: 60%;
  top: 10vh;
  right: 7vh;
  left: 200px;

  @media (max-width: 912px) {
    left: 7vh;
    bottom: 10vh;
    height: auto;
  }

  @media (max-width: 550px) {
    font-size: .8em;
    left: 4vh;
    right: 4vh;
    bottom: 5vh;
    height: auto;
  }

  .buttonContainer {
    @media (max-width: 912px) {
      display: none;
    }

    position: relative;
    left: 5vh;

    .selectedButton {

      font-family: Montserrat;
      font-style: normal;
      text-align: center;
      border: 2px solid #F6F4D2;
      border-radius: 5px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      width: 93px;
      height: 38px;
      background: #F6F4D2;
      color: #08151B;
      cursor: pointer;
      margin-right: 27px;
      margin-top: 31px;
    }
  
    .unselectedButton {

      font-family: Montserrat;
      font-style: normal;
      text-align: center;
      border: 2px solid #F6F4D2;
      border-radius: 5px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      width: 93px;
      height: 38px;
      color: #F6F4D2;
      background: transparent;
      cursor: pointer;
      margin-right: 27px;
      margin-top: 31px;
    }
  }

  p.dayHeading {
    position: absolute;
    color: #F6F4D2;
    padding: 20px 20px 0 20px;
    margin: 0 auto;
    // text-align: right;
    font-weight: 600;
    font-size: 30px;
    text-size-adjust: 80%;
    left: 320px;
    top: 15px;

    @media (max-width: 912px) {
      display: none;
    }

    .timezoneText {
      font-weight: 300;
      margin-left: 7px;
    }
  }

  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;

    @media (max-width: 912px) {
      top: 10px;
    }
  }

  .events {
    position: absolute;
    background-color: rgba(246, 244, 212, 0.92);
    border-radius: 10px;
    top: 3vh;
    bottom: 3vh;
    right: 3vh;
    left: 320px;
    
    overflow: scroll;

    @media (max-width: 912px) {
      top: 150px;
      bottom: 2vh;
      right: 2vh;
      left: 2vh;
    }

    .header {
      position: relative;
      display: flex;
      left: 36px;

      p {
        color: #08151B;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: inline;
        margin-right: 54px;
      }
    }

    .eventWrapper {
      margin-bottom: 10px;
      display: flex;
      overflow: auto;
      border-radius: 10px;
      background: rgba(219, 203, 155, 0.14);
      left: 23px;
      position: relative;

      .times {
        position: relative;
        width: 108px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        margin-left: 13px;

        // @media (max-width: 950px) {
        //   width: 120px;
        // }

        // @media (max-width: 550px) {
        //   width: 95px;
        //   padding-right: 10px;
        // }

        h1 {
          font-size: 1.25em;
          font-weight: 500;
          margin-bottom: 5px;
        }

        h3 {
          font-size: .9375em;
          opacity: 0.5;
          font-weight: 500;
          margin: 0;
        }
      }

      .body {
        flex: 1;
        position: relative;
        height: fit-content;
        display: flex;

        .lineContainer {
          margin-left: 10px;
          width: 20px;
          text-align: center;

          .line {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            display: inline-block;
            width: 7px;
            height: 80%;
            background: #ccc; // this color should never actually be used (one of the following event type styles should always apply)
            border-radius: 7px;
          }

          .line[data-type='other'] { background: #FBB63B; }
          .line[data-type='minievent'] { background: #6F8CC1; }
          .line[data-type='qna'] { background: #EE6C72; }
          .line[data-type='workshop'] { background: #2C9C98; }

          .megaphone {
            position: relative;
            top: 20px;
            @media (max-width: 550px) {
              top: 15px;
            }
          }
        }

        .text {
          display: flex;
          // padding: 0 30px 0 15px;
          line-height: 1.25em;
          // @media (max-width: 550px) {
          //   padding: 0 10px 0 10px;
          // }
          position: relative;

          h2 {
            font-weight: 500;
            font-size: 1em;
            margin-bottom: 0;
            width: 60px;
            margin-right: 54px;
          }

          h2.announcement {
            margin: 1.0em 0;
            font-weight: 500;
            font-size: 1em;
            width: 60px;
            margin-right: 54px;
          }

          p {
            font-size: 1em;
            white-space: pre-line;
          }

          a {
            color: white;
          }

          .description {
            font-weight: 500;
            line-height: 15px;
          }

          .points {
            border-radius: 20px;
            display: inline-block;
            padding: 1px 10px;
            margin-top: 5px;
            margin-left: -2px;
            font-weight: 500;
            &[data-type='other'] { background: #FBB63B; color: black; }
            &[data-type='minievent'] { background: #6F8CC1; }
            &[data-type='qna'] { background: #EE6C72; }
            &[data-type='workshop'] { background: #2C9C98; }
          }
        }
      }
    }
  }
}