.animatedLink {
  text-decoration: none;
  font-weight: 600;

  .line {
    height: 2.4px;
    width: 0px;
    margin: auto;
    border-radius: 5px;
    transition: width .2s, background-color .2s;
  }

  &:hover .line {
    width: 100%;
  }
}
