.navBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2%;

  .logo {
    width: 135px;
    margin: 15px;

    &.mobile {
      width: 105px;
      margin: 25px;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  .spacer {
    flex: 1;
  }

  .link {
    margin: 0 4%;
  }

  .sideBarToggle {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    .menuIcon {
      width: 40px;
      height: auto;
      margin-right: 15px;
    }
  }
}

.sideBar { 
  background-color: #2A3170;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 250px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  transform: translateX(100%);
  transition: transform .2s, box-shadow .2s;
  z-index: 101;

  &.open {
    transform: translateX(0);
    box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.15);
  }

  .logo {
    width: 60%;
    display: block;
    margin: 50px auto;
  }
}

.sideBarBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 100;
  outline: none;
  border: none;
}
