.navBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1% 1% 0 0;

  .logo {
    width: 135px;
    margin: 15px;

    &.mobile {
      width: 105px;
      margin: 25px;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  .spacer {
    flex: 1;
  }

  .link {
    margin: 0 4%;
  }
}

.sideBar { 
  padding: 10px;
  border-radius: 20px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &.open {
    background-color: #FFFEE6;
  }
}

.sideBarLinks {
  padding: 0 10px 0 10px;
}

.sideBarToggle {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 100;

  .menuIcon {
    width: 40px;
    height: auto;
    margin-right: 0px;
  }
}

