@import 'pages/Registration/Form/styles.module.scss';

.title {
  font-size: 2em;
  font-weight: 500;
  color: #F6F4D4;

  @media screen and (max-height: 700px) {
    margin-bottom: -20px;
  }

  @include registration-floating-screen {
    margin-bottom: -5px;
  }
}