.background {
  background: linear-gradient(180deg, #2A3170 19.44%, #2B6776 59.7%);
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: hidden;

  .stars {
    width: 100%;
    height: calc(100% - 28vw); // ensure that the stars don't overlap with the translucent mountains
    max-height: 425px;
    background-position: center top;
    background-size: 1500px;
  }

  .mountains {
    position: absolute;
    bottom: 0;
    width: 115%;
    left: 53%;
    transform: translateX(-50%);

    @media (min-width: 2000px) {
      width: 100%;
      left: 50%;
    }
  }

  .road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vw;
    background-color: #282939;

    @media (min-width: 2000px) {
      height: 5.5vw;
    }
  }
}