.guide {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: fit-content;

  @media (max-width: 950px) {
    position: relative;
    margin-top: 0;
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
  }

  @media (max-width: 550px) {
    right: -46%;
  }

  h1 {
    font-size: 18px;

    @media (max-width: 950px) {
      margin: 0;
    }
  }

  .gridContainer {
    @media (max-width: 950px) {
      display: grid;
      grid-template-columns: 235px 170px;
      grid-template-rows: auto auto;
    }

    @media (max-width: 550px) {
      grid-template-columns: 235px 500px;
    }

    @media (max-width: 450px) {
      font-size: .85em;
      grid-template-columns: 175px 410px;
    }

    @media (max-width: 370px) {
      font-size: .8em;
      grid-template-columns: 165px 380px;
    }

    .eventType {
      padding: 12px 0;
  
      @media (max-width: 950px) {
        padding: 0;
        padding-top: 5px;
      }
  
      .colorTag {
        display: inline-block;
        position: relative;
        top: 2.5px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
      }
  
      .textTag {
        margin-left: 25px;
        font-size: 1.125em;
  
        @media (max-width: 950px) {
          margin-left: 10px;
          margin-right: 30px;
        }
      }
    }
  }  
}