.prizes {
  color: #542120;
  z-index: 0;
  position: relative;

  .backgroundImage {
    background-image: url('../../assets/prizes/background.svg');
    width: 100vw;
    background-color: #9B8356;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(4px);
  }

  .logo {
    margin-top: 50px;
    margin-left: 50px;
  }

  .prizeList {
    z-index: 100;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 375px);
    grid-auto-rows: 400px;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;

    @media screen and (max-width: 1250px) {
      grid-template-columns: 375px;
      column-gap: 0;
    }

    .prize {
      box-sizing: border-box;
      background-color: #F6F4D2D9;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      padding: 7.5%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  h2, h3, h4 {
    margin: 20px 0 0 0;
    text-align: center;
    margin-top: 15px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    text-align: center;
    margin: 7.5px 0 0 0;
  }
}
